html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

.red-line {
    color: red;
    height: 1px;
    background-color: red;
    border: none;
}

.section-start {
    padding-top: 50px;
    padding-bottom: 50px;
}

.legal-card {
    line-height: normal;
    margin-bottom: 30px;
}

.blue-background {
    background-color: #e4f0ff;
}
