html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.red-line {
  color: red;
  height: 1px;
  background-color: red;
  border: none;
}

.section-start {
    padding-top: 50px;
    padding-bottom: 50px;
}
